.jump-linklets {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: stretch;
}

@media (max-width: 1200px) {
  .jump-linklets {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}

