:root {
  --color-primary: #A15EFF;
  --color-secondary: #D65EBA;
  --color-tertiary: #FF7E47;
  
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-gray: #808080;
  
  --color-danger: #FF4C4C;
  --color-success: #4CAF50;
  --color-warning: #FF9800;

  --color-background: #111111;
}

